@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/open-sans-condensed-v14-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-sans-condensed-v14-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-condensed-v14-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-condensed-v14-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-condensed-v14-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-condensed-v14-latin_cyrillic-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: inherit;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

 a {
   color: #fff;
 }

header { /*Блок хедера*/
  display: flex; /*Щоб .header_row центрувався вертикально*/
  min-height: 230px;
  background-color: #dcdcdc;
}

.header_row {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;

}

.header_left {
  display: flex;
  align-items: center;
}

.header_right {
  display: flex;
  align-items: center;
  margin: auto 0 auto auto; /*Щоб при видаленні header_left лишався на місці*/
}

.header_right p {
font-family: 'Open Sans Condensed';
font-size: 40px;
line-height: 46px;
}

.nav_main { /*Блок меню*/
  display: flex;
  flex: 0 0 auto; /*Щоб при додаванні пунктів меню блок розширювався*/
  min-height: 80px;
  background-color: #777777;
}

.nav_main_row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
}

.nav_main ul {
  display: inline-flex;
  flex-wrap: wrap; /*При додаванні елементів розширює блок, а не показує за межами*/
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav_main ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  line-height: 1.2;
}

.nav_main ul li::after {
  content: '';
  display: block;
  margin: 0 23px;
  width: 3px;
  height: 25px;
  background-color: #fff;
}

.nav_main ul li:last-child::after {
  display: none;
}

.nav_main ul li a {
  text-decoration: none;
  }

.nav_main ul li a:hover {
  text-decoration: underline;
}

.slider { /*Блок слайдера*/
  min-height: 400px;
  background: #f8f8f8 url("../images/slider.png") center center no-repeat;
}

.content { /*Блок контенту*/
  display: flex;
  margin: 0 auto;
  padding:30px 10px 195px;
  width: 1000px;
}

aside {
  margin: 0 auto auto 0;
  width: 350px;
  background-color: #777777;
}

.content aside ul {
  padding-left: 34px;
  list-style-type: none;
}
.content aside h2 {
  font-size: 40px;
  line-height: 34px;
  margin-top: 21px;
  margin-bottom: 38px;
  padding-left: 34px;
  color: #fff;
}

.content aside li {
  padding-bottom: 30px;
}

.content aside li a {
  text-decoration: none;
}

.content aside li span {
  font-style: italic;
}

.content aside p {
  margin-right: 54px;
  margin-bottom: 100px;
  text-align: right;
}

main {
  margin: 0 0 0 auto;
  width: 630px;
}

main h2 {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 100;
}

main p {
  padding-left: 40px;
}

footer { /*Блок футера*/
  margin: auto 0 0 0; /*Для того, щоб блоки притискались куди треба при видалення*/
  background-color: #777777;
}

.footer_row {
  display: flex;
  margin: 0px auto;
  padding: 45px 10px;
  width: 1000px;
}

.footer_copyright {
  width: 350px;
}

.footer_copyright p {
  margin: 0;
  color: #fff;
}

.footer_menu ul {
  margin: 0;
  padding: 0;
  line-height: 26px;
}
.footer_devs {
    display: flex;
    margin: 0 0 0 auto;
}

.footer_devs img {
 margin-right: 8px;
}

.footer_devs p {
  margin: -5px 34px 0 0;
  color: #fff;
}
