html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 1008px;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Arial";
  line-height: 22px;
}

.wrap {
  margin: 0 auto;
  width: 960px;
  overflow: visible;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: relative;
  margin-top: 24px;
  width: 100%;
  height: 108px;
  flex: 0 0 auto;
}

.block_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 122px;
  height: 108px;
}

.block_2 {
  position: absolute;
  top: 0;
  left: 144px;
  width: 280px;
  height: 108px;
  background-color: #777777;
}

.block_3 {
  position: absolute;
  top: 0;
  left: 446px;
  width: 514px;
  height: 108px;
  box-sizing: border-box;
  padding: 21px;
  background-color: #777777;
  text-align: right;
}

.content {
  flex: 1 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

a {
  color: #fff;
}

ul a, .tel {
  text-decoration: none;
}

.lmain {
  list-style-type: square;
  padding-left: 40px;
}

.smain {
  font-weight: bold;
}

.block_4_h2 {
  margin: 20px auto 0 14px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.block_4_ul {
  margin: 0 auto 12px 14px;
  padding: 0;
  list-style-type: none;
  font-weight: 100;
}

block_4_li {
  line-height: 22px;
}

.block_5_h2 {
  color: #777777;
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
}

hr {
  margin: 20px 0 20px 0;
}

.content_row {
  flex: 1 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100%;
}

.left {
  flex: 0 0 auto;
  width: 184px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block_4 {
  flex: 0 0 auto;
  width: 100%;
  background-color: #777777;
}

.left_filler {
  flex: 1 0 auto;
  width: 100%
}

.block_7{
  flex: 0 0 auto;
  width: 184px;
  height: 134px;
}

.content_row_filler {
  flex: 1 0 auto;
}

main {
  width: 754px;
  flex: 0 0 auto;
}

.block_5 {
  background-color: #dcdcdc;
  padding: 20px 0 23px 23px;
  color: #777777;
}

.block_6 {
  float: left;
  margin-top: 20px;
  margin-left: 21px;
  width: 134px;
  height: 152px;
}

.block_6:nth-child(5n+1), .block_6:first-child {
  margin-left: 0;
}

.bottom {
  clear: both;
  padding-top: 18px;
}

.block_8 {
  box-sizing: border-box;
  float: left;
  width: 370px;
  background-color: #dcdcdc;
  color: #777777;
  min-height: 200px;
  padding: 20px 20px 23px 23px;
}

.block_9 {
  box-sizing: border-box;
  float: right;
  width: 370px;
  background-color: #dcdcdc;
  color: #777777;
  min-height: 200px;
  padding: 20px 20px 23px 23px;
}

footer {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  min-height: 180px;
  flex: 0 0 auto;
}

.block_10 {
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 24px;
  width: 300px;
  min-height: 180px;
  background-color: #777777;
  color: #fff;
  line-height: 22px;
}

.u10 {
  column-count: 2;
  column-width: 124px;
  column-gap: 5px;
  margin: 0;
  padding: 13px 20px 13px 25px;
  list-style-type: none;
}

.block_11 {
  position: absolute;
  left: 326px;
  top: 0;
  margin-bottom: 24px;
  width: 300px;
  min-height: 180px;
  background-color: #777777;
  color: #fff;
}

.flmiddle {
  margin: 0;
  padding: 13px 0px 0px 35px;
  list-style-type: square;
}

.block_12 {
  position: absolute;
  left: 652px;
  top: 0;
  width: 308px;
  height: 80px;
  background-color: #777777;
}

.block_13 {
  position: absolute;
  left: 652px;
  top: 100px;
  width: 308px;
  height: 80px;
}
