@media (max-width: 825px) {
  html {
    body {
      .wrap_header {
        header {
          nav {
            ul {
              li {
                margin: 0 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 725px) {
  html {
    body {
      .wrap_header {
        header {
          nav {
            ul {
              li {
                margin: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 685px) {
  html {
    body {
      .wrap_header {
        height: 70px;

        header {
          height: 70px;

          .logo {
            img {
              margin: 5px auto;
              width: 60px;
              height: 60px;
            }
          }

          nav {
            display: none;
            position: fixed;
            top: 70px;
            left: 0;
            z-index: 2;
            width: 100%;

            ul {
              flex-direction: column;

              li {
                margin: 8px 0;
              }

              li:last-child {
                margin: 0 0 16px 0;
              }
            }
          }

          .open_menu {
              display: block;
          }

          #menu_button {
            @include flex($dir: column, $jus: center, $align: center);
            margin: auto 0 auto auto;
            padding: 0;
            min-width: 42px;
            height: 32px;
            background-color: $bblue;
            border: none;
            border-radius: 3px;

            div {
              margin: 2px auto;
              width: 22px;
              height: 2px;
              background-color: white;
            }
          }

          #menu_button:hover {
            background-color: $blue;
          }

          #menu_button:active {
            background: radial-gradient(ellipse, $blue, $bblue);
          }
        }
      }
    }
  }
}
