.cite {
  width: 100%;

  section {
    // @include flex($dir: column, $align: center);
    @include content_block();
    padding: 65px 15px 30px;
    min-height: 398px;
    
    blockquote {
      margin: 0 auto 105px;
      width: 900px;
      text-align: center;
      color: $text;

      > p {
        position: relative;
        font-size: 22px;
        line-height: 1.7em;
        font-weight: 300;
      }

      > p:before {
        position: absolute;
        left: -38px;
        top: -15px;
        content: "\f10d";
        font-family: 'Awesome';
        font-size: 30px;
        line-height: 30px;
        color: #c4c4c4;
      }

      > p:after {
        position: absolute;
        right: -38px;
        bottom: -4px;
        content: "\f10e";
        font-family: 'Awesome';
        font-size: 30px;
        color: #c4c4c4;
      }

      figcaption {
          margin-top: 30px;

        > p {
          @include flex($dir: column, $align: center);

          span:first-child {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.001em;
          }

          span:last-child {
            margin-top: 3px;
            font-family: sans-serif;
            font-style: italic;
            font-weight: 300;
            letter-spacing: 0.01em;
          }
        }
      }
    }
  }
}
