.contact {
  width: 100%;
  height: 196px;
  background-color: $blue;

  section {
    @include flex($jus: space-evenly, $align: center);
    @include content_block();
    height: 192px;


    .contact_item {
      @include flex($dir: column, $jus: flex-start, $align: center);
      width: 305px;
      height: 192px;
      color: white;

      img {
          margin-top: 40px;
          margin-bottom: 20px;
          width: 50px;
          height: 50px;
      }

      span {
        font-weight: 600;
      }

      a {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        color: white;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
