.wrap_course {
  padding-top: 108px;
  width: 100%;
  background-color: $grey;

  .course {
    @include flex($jus: space-between);
    @include content_block();

    // height: 670px;

    .course_description {
      @include flex($dir: column, $align: center);
      padding-top: 198px;
      width: 610px;

      h2 {
        text-align: center;
        font-size: 2.1875em;
        font-weight: normal;
        letter-spacing: 0.2px;
        color: $header;//
        margin: 0;
      }

      p {
        margin-top: 25px;
        max-width: 540px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 2rem;
      }
    }

    .course_register {
      @include flex($dir: column, $jus: center, $align: center);
      max-width: 610px;

      label {
        @include flex($dir: column, $jus: center, $align: center);

        span {
          align-self: flex-start;
        }

        input {
          width: 590px;
          height: 50px;
          border-radius: 5px;
        }
      }

    }
  }
}
