.dev {
  width: 100%;

  section {
    @include content_block();
    padding: 65px 15px 60px;


    h2 {
      margin: 0 0 30px;
    }

    .dev_items {
      margin-bottom: 30px;
      width: 100%;

      .dev_item {
        margin: 0 5px;
        display: inline-block;
        min-width: 0;
        text-align: center;
        vertical-align: top;

        img {
          display: block;
          margin: 0 auto;
        }

        h3 {
          display: inline-block;
          margin: 16px auto 30px;
          padding: 0 0 17px;
          text-align: center;
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 0.02em;
          border-bottom: 1px solid $blue;

        }

        p {
          margin: 0 auto;
          max-width: 342px;
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.001em;
          line-height: 25px;
        }
      }


    }
  }
}

.slick-slide {
  float: none;
  outline: none
}
.slick-track {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
