.dev {
  width: 100%;

  section {
    // @include flex($dir: column, $jus: flex-start, $align: center);
    min-height: 500px;
    @include content_block();
    padding: 65px 15px 0;


    h2 {
      margin: 0 0 30px;
    }

    .dev_items {
      display: flex;
      justify-content: space-around;
      user-select: text;
      width: 100%;

      .slick-track {
        display: flex;
        justify-content: space-evenly;
      }

      .dev_item {
        @include flex($dir: column, $jus: flex-start, $align: center);
        padding: 0 10px;
        width: 406px;
        min-width: 280px;

        h3 {
          margin: 16px 0 14px;
          padding: 0 0 17px;
          text-align: center;
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 0.019em;
          border-bottom: 1px solid $blue;

        }

        p {
          max-width: 350px;
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.001em;
          line-height: 25px;
        }
      }


    }
  }
}
