.dev {
  width: 100%;

  section {
    @include flex($dir: column, $jus: flex-start, $align: center);
    @include content_block();
    min-height: 565px;

    h2 {
      margin: 67px 0 32px;
    }

    .dev_items {
      @include flex($jus: space-around, $align: flex-start);
      width: 100%;

      .dev_item {
        @include flex($dir: column, $jus: center, $align: center);
        width: 350px;

        h3 {
          margin: 15px 0;
          padding: 0 0 17px;
          text-align: center;
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 0.45px;
          border-bottom: 1px solid $blue;
        }

        p {
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.001em;
          line-height: 25px;
        }
      }
    }
  }
}
