.dev {
  width: 100%;

  section {
    // @include flex($dir: column, $jus: flex-start, $align: center);
    // min-height: 500px;
    @include content_block();
    padding: 65px 15px 60px;


    h2 {
      margin: 0 0 30px;
    }

    .dev_items {
      // display: inline-block;
      margin-bottom: 30px;
      width: 100%;
      // text-align: center;

      .dev_item + .dev_item {
        // padding-left: 15px;
      }

      .dev_item {
        // @include flex($dir: column, $jus: flex-start, $align: center);
        // padding: 0 26px;
        margin: 0 5px;
        display: inline-block;
        min-width: 0;
        // min-width: 400px;
        text-align: center;
        vertical-align: top;
        // background-color: blue;

        img {
          display: block;
          margin: 0 auto;
        }

        h3 {
          display: inline-block;
          margin: 16px auto 30px;
          padding: 0 0 17px;
          text-align: center;
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 0.02em;
          border-bottom: 1px solid $blue;

        }

        p {
          margin: 0 auto;
          max-width: 342px;
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.001em;
          line-height: 25px;
        }
      }


    }
  }
}

.slick-slide {
  float: none;
}
.slick-track {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
