.footer {
  width: 100%;
  background-color: $grey;

  footer {
    @include flex($dir: column, $jus: center, $align: center);
    @include content_block;
    height: 154px;
    font-size: 14px;
    letter-spacing: 0;

    span:first-child {
      font-weight: 300;
      color: $blue;
      line-height: 36px;
    }

    span:last-child {
      a {
        font-size: 14px;
        line-height: 36px;
        font-weight: 300;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
