.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  box-shadow: 0 7px 7px 0 rgba(222,222,222,0.8);

  header {
    @include flex($align: center);
    @include content_block();
    height: 100px;

    .logo {
      width: 80px;
      height: 100px;

      img {
        margin: 10px 0;
        width: 80px;
        height: 80px;
      }
    }
    nav {
      @include flex();
      margin: 0 0 0 auto;
      // height: 100px;
      background-color: white;

      ul {
        @include flex($align: center);
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: flex;

          a {
            padding: 10px 20px;
            font-size: 0.875em;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: 0.025em;
          }

          button {
            @include flex($jus: center, $align: center);

            padding: 0;
            width: 138px;
            height: 40px;
            border: none;
            border-radius: 20px;
            background-color: $bblue;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.4px;
            color: white;
          }

          button:hover {
            background-color: $blue;
            cursor: pointer;
          }

          button:active {
            background: radial-gradient(ellipse, $blue, $bblue);
          }

          button:focus {
            outline: none;
          }
        }

        li:hover {
          background-color: #eeeeee;

          a {
            color: $bblue;
          }
        }

        li:last-child {
          padding: 0;
        }

        li:last-child:hover {
          background-color: transparent;
        }
      }
    }

   #menu_button {
      display: none;
    }
  }
}
