.wrap_header {

  header {
    @include flex($align: center);
    @include content_block();
    height: 102px;

    .logo {
      img {
        margin: 11px auto;
        width: 80px;
        height: 80px;
      }
    }
    nav {
      margin: auto 0 auto auto;
      @include flex();

      ul {
        @include flex($align: center);
        list-style-type: none;
        padding: 0;

        li {
          margin: 0 20px;

          button {
              @include flex($jus: center, $align: center);
              width: 140px;
              height: 40px;
              border: none;
              padding: 0;
              border-radius: 20px;
              background-color: $bblue;
              font-size: 0.875em;
              color: white;
            }

            button:hover {
              background-color: $blue;
            }

            button:active {
              background: radial-gradient(ellipse, $blue, $bblue);
            }
        }

        li:last-child {
          margin: 0;
        }

        a {
          font-size: 0.875em;
          color: $text;
        }
      }
    }

    > button {
      display: none;
    }
  }
}
