.wrap_header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 102px;
  background-color: white;
  box-shadow: 0 6px 8px 0 #e4e4e4;

  header {
    @include flex($align: center);
    @include content_block();
    height: 102px;

    .logo {
      img {
        margin: 11px auto;
        width: 80px;
        height: 80px;
      }
    }
    nav {
      @include flex();
      margin: auto 0 auto auto;
      background-color: white;

      ul {
        @include flex($align: center);
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          @include flex();
          padding: 10px 20px;

          button {
              @include flex($jus: center, $align: center);
              width: 140px;
              height: 40px;
              border: none;
              padding: 0;
              border-radius: 20px;
              background-color: $bblue;
              font-family: 'Open Sans';
              font-weight: 300;
              font-size: 0.875em;
              letter-spacing: 0.3px;
              color: white;
            }

            button:hover {
              background-color: $blue;
              cursor: pointer;
            }

            button:active {
              background: radial-gradient(ellipse, $blue, $bblue);
            }

            button:focus {
              outline: none;
            }
        }

        li:hover {
          background-color: #eeeeee;

          a {
            color: $bblue;
          }
        }

        li:last-child {
          padding: 0 0 0 0;
        }

        li:last-child:hover {
          background-color: transparent;
        }

        a {
          font-size: 0.875em;
          color: $text;
        }
      }
    }

   #menu_button {
      display: none;
    }
  }
}
