.stat {
  width: 100%;
  background-color: $blue;

  section {
    @include flex($jus: space-around, $align: center);
    @include content_block();

    .stat_item {
      @include flex($dir: column, $jus: center, $align: center);
      width: calc((100vw - 30px) / 4);
      height: 150px;
      margin: 80px 0;

      img {
        width: 85px;
        height: 60px;
      }

      .stat_hours {
        margin: 20px 0 10px;
        font-size: 27px;
        font-weight: 300;
        color: #ffffdb;
      }

      .stat_desc {
        font-weight: 300;
        letter-spacing: 0;
        color: #ffffdb;
        text-align: center;
      }
    }
  }
}
