$blue: #3498db; // Колір синіх блоків
$bblue: #337ab7; // Колір синіх кнопок
$text: #777777; // Колір основних текстів
$header: #333333; // Колір заголовків h2 і h3
$grey: #f7f7f7; // Колір сірих блоків
