@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@include media-breakpoint-up(xl) { // Корегуємо розмір контейнера під свій макет.
  .container-xl {
    max-width: 1200px;
  }
}

html, a {
  font-family: 'Source Sans Pro';
}

p {
  margin: 0;
}


@import 'assets/_fonts.scss'; //  Усі підключені шрифти
@import 'header-intro'; // Хедер і блок з фоткою айфона
