@import 'fonts'; // Усі підключені шрифти
@import 'mixins'; // Усі оголошені міксіни
@import 'vars'; // Усі оголошені змінні

//Варіант сторінки під екрани не менше 1250px
html {
  body {
    margin: 0px;
    @include font();

    a {
      @include font();
      text-decoration: none;
    }

    h2 {
      font-size: 34px;
      font-family: 'Open Sans';
      font-weight: normal;
      letter-spacing: 0.002em;
      color: $header;
    }

    @import 'header'; // Шапка сайту з меню
    @import 'course'; // Курси програмування у Луцьку
    @import 'dev';    // Курс "Розробка сайтів"
    @import 'stat';   // Синій блок зі статистикою
    @import 'cite';   // Блок зі слайдером цитат
    @import 'video';  // Блок з ютуб відео
    @import 'mentors';// Блок менторів
    @import 'map';    // Блок з картою
    @import 'contact';// Блок з контактною інформацією
    @import 'footer'; // Футер
  }
}

@import 'brakepoints'; // Адаптив під екрани шириною менше 1250px
