@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}

$blue: #3498db;
$bblue: #337ab7;
$text: #777777;
$header: #333333;
$grey: #f7f7f7;

@mixin font() {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: $text;
}

@mixin content_block {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1250px;
}

@mixin flex(
        $disp: flex,
        $dir: row,
        $jus: flex-start,
        $align: stretch ) {

  display: $disp;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $align;
}

html {
  body {
    margin: 0px;
    @include font();

    a {
      @include font();
      text-decoration: none;
    }

    @import 'header';
    @import 'course';
  }
}

@import 'brakepoints';
