@import 'slick';
@import 'slick-theme';
@import 'fonts'; // Усі підключені шрифти
@import 'mixins'; // Усі оголошені міксіни
@import 'vars'; // Усі оголошені змінні

//Варіант сторінки під екрани не менше 1250px
html {
  @include font();
  body {
    @include font();
    // background-color: blue;
    @include flex($dir: column, $align: center);
    margin: 0px;

    a {
      @include font();
      text-decoration: none;
    }

    h2 {
      margin: 0;
      font-size: 34px;
      font-family: 'Open Sans';
      font-weight: 400;
      color: $header;
    }

    .anchor {
      position: relative;

      #dev, #cite, #video, #mentors {
        position: absolute;
        top: -100px;
      }
    }

    .slick-dots {
      li {
        margin: 0 3px;

        button:before {
          font-size: 14px;
        }
      }
    }



    @import 'header'; // Шапка сайту з меню
    @import 'course'; // Курси програмування у Луцьку
    @import 'dev';    // Курс "Розробка сайтів"
    @import 'stat';   // Синій блок зі статистикою
    @import 'cite';   // Блок зі слайдером цитат
    @import 'video';  // Блок з ютуб відео
    @import 'mentors';// Блок менторів
    @import 'map';    // Блок з картою
    @import 'contact';// Блок з контактною інформацією
    @import 'footer'; // Футер
  }
}

@import 'brakepoints'; // Адаптив під екрани шириною менше 1250px
