@import "mobile.css" (max-width: 320px);

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italicr.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}

$blue: #3498db;
$bblue: #337ab7;
$text: #8c8c8c;
$grey: #f7f7f7;

@mixin content_block {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 1250px;
}
@mixin font() {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  @include font();

  a {
    @include font();
    text-decoration: none;
  }
  .wrap_header {

    header {
      @include content_block();
      height: 102px;

      .logo {
        img {
          margin: 11px 0;
          width: 80px;
          height: 80px;
        }
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 1000px;
        ul {
          display: inline-flex;
          list-style-type: none;
          margin: 0;

          li {
            padding: 0 20px;
          }
          a {
            font-size: 14px;
            color: $text;
          }
        }
      }
      .request_button {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 140px;
          height: 40px;
          border-radius: 20px;
          background-color: $bblue;
          font-size: 14px;
          color: white;
        }
      }

    }
  }

  .wrap_course_register {
    background-color: $grey;
    box-shadow: 0 10px 10px -10px rgba(200,200,200,0.8) inset; //Підібрати тінь

    .course_register {
      @include content_block();
      height: 670px;
    }
  }
}
