@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600; }
@font-face {
  font-family: 'Awesome';
  src: url("../fonts/fa-solid-900.ttf");
  font-style: normal;
  font-weight: 900; }
html body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #777777; }
  html body a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #777777;
    text-decoration: none; }
  html body .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 102px;
    background-color: white;
    box-shadow: 0 6px 8px 0 #e4e4e4; }
    html body .header header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1220px;
      height: 102px; }
      html body .header header .logo img {
        margin: 11px auto;
        width: 80px;
        height: 80px; }
      html body .header header nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        margin: auto 0 auto auto;
        background-color: white; }
        html body .header header nav ul {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 0;
          padding: 0;
          list-style-type: none; }
          html body .header header nav ul li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            padding: 10px 20px; }
            html body .header header nav ul li button {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 140px;
              height: 40px;
              border: none;
              padding: 0;
              border-radius: 20px;
              background-color: #337ab7;
              font-family: 'Open Sans';
              font-weight: 300;
              font-size: 0.875em;
              letter-spacing: 0.3px;
              color: white; }
            html body .header header nav ul li button:hover {
              background-color: #3498db;
              cursor: pointer; }
            html body .header header nav ul li button:active {
              background: radial-gradient(ellipse, #3498db, #337ab7); }
            html body .header header nav ul li button:focus {
              outline: none; }
          html body .header header nav ul li:hover {
            background-color: #eeeeee; }
            html body .header header nav ul li:hover a {
              color: #337ab7; }
          html body .header header nav ul li:last-child {
            padding: 0 0 0 0; }
          html body .header header nav ul li:last-child:hover {
            background-color: transparent; }
          html body .header header nav ul a {
            font-size: 0.875em;
            color: #777777; }
      html body .header header #menu_button {
        display: none; }
  html body .course {
    padding-top: 108px;
    width: 100%;
    background-color: #f7f7f7; }
    html body .course section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1220px;
      min-height: 660px; }
      html body .course section .course_description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 194px;
        width: 610px; }
        html body .course section .course_description h2 {
          text-align: center;
          font-size: 2.1875em;
          font-weight: 400;
          letter-spacing: 0.01px;
          color: #333333;
          margin: 0; }
        html body .course section .course_description p {
          margin-top: 25px;
          max-width: 540px;
          text-align: center;
          font-size: 18px;
          letter-spacing: 0;
          line-height: 2rem; }
      html body .course section .course_register {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 50%;
        padding-top: 49px; }
        html body .course section .course_register legend {
          align-self: flex-start;
          margin: -5px 0 12px 18px;
          font-size: 23px;
          font-weight: 500;
          letter-spacing: 0;
          color: #333333; }
        html body .course section .course_register label {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-left: 20px;
          font-size: 14px;
          color: #555555; }
          html body .course section .course_register label span {
            line-height: 18px;
            letter-spacing: 0; }
          html body .course section .course_register label span + img {
            display: flex;
            align-self: center;
            margin-left: 4px;
            width: 7px;
            height: 7px; }
        html body .course section .course_register input {
          margin-left: 20px;
          padding: 0 15px;
          max-width: 100%;
          height: 48px;
          border-radius: 5px;
          border-width: 1px;
          border-color: #cccccc;
          font-family: 'Open Sans';
          font-weight: 500;
          letter-spacing: 0.3px;
          color: #777777; }
        html body .course section .course_register input:focus {
          outline: none;
          border: 1px solid #3498db;
          box-shadow: 0 0 8px 0 rgba(52, 152, 219, 0.4); }
        html body .course section .course_register label + input {
          margin-top: 6px; }
        html body .course section .course_register input + label {
          margin-top: 12px; }
        html body .course section .course_register .block_agree {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          height: 60px; }
          html body .course section .course_register .block_agree #agree {
            width: 12px;
            height: 12px; }
          html body .course section .course_register .block_agree label {
            margin: 0 0 0 4px;
            font-size: 14px; }
            html body .course section .course_register .block_agree label span a {
              font-size: 14px;
              letter-spacing: 0;
              color: #337ab7; }
            html body .course section .course_register .block_agree label img {
              margin-left: 5px; }
        html body .course section .course_register button {
          margin-top: 16px;
          margin-left: 18px;
          align-self: center;
          width: 370px;
          height: 50px;
          border-radius: 25px;
          border: 0;
          background-color: #337ab7;
          text-transform: uppercase;
          color: white; }
        html body .course section .course_register button:hover {
          background-color: #3498db;
          cursor: pointer; }
        html body .course section .course_register button:active {
          background: radial-gradient(ellipse, #3498db, #337ab7); }
        html body .course section .course_register button:focus {
          outline: none; }
  html body .dev {
    width: 100%; }
    html body .dev section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1220px;
      min-height: 565px; }
      html body .dev section h2 {
        margin: 67px 0 32px;
        font-size: 34px;
        font-family: 'Open Sans';
        font-weight: normal;
        letter-spacing: 0.002em;
        color: #333333; }
      html body .dev section .dev_items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%; }
        html body .dev section .dev_items .dev_item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 350px; }
          html body .dev section .dev_items .dev_item h3 {
            margin: 15px 0;
            padding: 0 0 17px;
            text-align: center;
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 0.45px;
            border-bottom: 1px solid #3498db; }
          html body .dev section .dev_items .dev_item p {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.001em;
            line-height: 25px; }
  html body .stat {
    width: 100%;
    background-color: #3498db; }
    html body .stat section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1220px;
      min-height: 310px; }
      html body .stat section .stat_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 305px; }
        html body .stat section .stat_item img {
          width: 85px;
          height: 60px; }
        html body .stat section .stat_item .stat_hours {
          margin: 20px 0 10px;
          font-size: 27px;
          font-weight: 300;
          color: #ffffdb; }
        html body .stat section .stat_item .stat_desc {
          font-weight: 300;
          letter-spacing: 0;
          color: #ffffdb; }
  html body .cite {
    width: 100%; }
    html body .cite section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1220px;
      padding: 65px 15px; }
      html body .cite section h2 {
        margin: 0;
        font-size: 34px;
        font-family: 'Open Sans';
        font-weight: normal;
        letter-spacing: 0.002em;
        color: #333333; }
      html body .cite section blockquote {
        margin: 3px 0 0;
        width: 900px;
        text-align: center;
        color: #777777; }
        html body .cite section blockquote > p {
          position: relative;
          font-size: 22px;
          line-height: 1.7em;
          letter-spacing: 0.001em; }
        html body .cite section blockquote > p:before {
          position: absolute;
          left: -38px;
          top: -15px;
          content: "\f10d";
          font-family: 'Awesome';
          font-size: 30px;
          line-height: 30px;
          color: #c4c4c4; }
        html body .cite section blockquote > p:after {
          position: absolute;
          right: -38px;
          bottom: -4px;
          content: "\f10e";
          font-family: 'Awesome';
          font-size: 30px;
          color: #c4c4c4; }
        html body .cite section blockquote figcaption {
          margin-top: 30px; }
          html body .cite section blockquote figcaption > p {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center; }
            html body .cite section blockquote figcaption > p span:first-child {
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 0.001em; }
            html body .cite section blockquote figcaption > p span:last-child {
              margin-top: 3px;
              font-family: sans-serif;
              font-style: italic;
              font-weight: 300;
              letter-spacing: 0.01em; }

@media (max-width: 825px) {
  html body .wrap_header header nav ul li {
    padding: 10px 10px; } }
@media (max-width: 725px) {
  html body .wrap_header header nav ul li {
    padding: 10px 5px; } }
@media (max-width: 685px) {
  html body .wrap_header {
    height: 70px; }
    html body .wrap_header header {
      height: 70px; }
      html body .wrap_header header .logo img {
        margin: 5px auto;
        width: 60px;
        height: 60px; }
      html body .wrap_header header nav {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 2;
        width: 100%; }
        html body .wrap_header header nav ul {
          flex-direction: column; }
          html body .wrap_header header nav ul li {
            padding: 10px 20px; }
          html body .wrap_header header nav ul li:last-child {
            padding: 2px 0 16px 0; }
      html body .wrap_header header .open_menu {
        display: block; }
      html body .wrap_header header #menu_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0 auto auto;
        padding: 0;
        min-width: 42px;
        height: 32px;
        background-color: #337ab7;
        border: none;
        border-radius: 3px; }
        html body .wrap_header header #menu_button div {
          margin: 2px auto;
          width: 22px;
          height: 2px;
          background-color: white; }
      html body .wrap_header header #menu_button:hover {
        background-color: #3498db; }
      html body .wrap_header header #menu_button:active {
        background: radial-gradient(ellipse, #3498db, #337ab7); }
  html body .wrap_course {
    padding-top: 78px; } }