@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600; }
@font-face {
  font-family: 'Awesome';
  src: url("../fonts/fa-solid-900.ttf");
  font-style: normal;
  font-weight: 900; }
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #666666; }
  html body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px; }
    html body a {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #666666;
      text-decoration: none; }
    html body h2 {
      margin: 0;
      font-size: 34px;
      font-family: 'Open Sans';
      font-weight: 400;
      color: #333333; }
    html body .anchor {
      position: relative; }
      html body .anchor #dev, html body .anchor #cite, html body .anchor #video, html body .anchor #mentors {
        position: absolute;
        top: -100px; }
    html body .header {
      position: fixed;
      z-index: 1;
      width: 100%;
      background-color: white;
      box-shadow: 0 7px 7px 0 rgba(222, 222, 222, 0.8); }
      html body .header header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        height: 100px; }
        html body .header header .logo {
          width: 80px;
          height: 100px; }
          html body .header header .logo img {
            margin: 10px 0;
            width: 80px;
            height: 80px; }
        html body .header header nav {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;
          margin: 0 0 0 auto;
          height: 100px;
          background-color: white; }
          html body .header header nav ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style-type: none; }
            html body .header header nav ul li {
              display: flex; }
              html body .header header nav ul li a {
                padding: 10px 20px;
                font-size: 0.875em;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: 0.025em; }
              html body .header header nav ul li button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 138px;
                height: 40px;
                border: none;
                border-radius: 20px;
                background-color: #337ab7;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.4px;
                color: white; }
              html body .header header nav ul li button:hover {
                background-color: #3498db;
                cursor: pointer; }
              html body .header header nav ul li button:active {
                background: radial-gradient(ellipse, #3498db, #337ab7); }
              html body .header header nav ul li button:focus {
                outline: none; }
            html body .header header nav ul li:hover {
              background-color: #eeeeee; }
              html body .header header nav ul li:hover a {
                color: #337ab7; }
            html body .header header nav ul li:last-child {
              padding: 0; }
            html body .header header nav ul li:last-child:hover {
              background-color: transparent; }
        html body .header header #menu_button {
          display: none; }
    html body .course {
      padding-top: 107px;
      width: 100%;
      background-color: #f7f7f7; }
      html body .course section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px; }
        html body .course section .course_description {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding-top: 192px;
          width: 610px; }
          html body .course section .course_description h2 {
            letter-spacing: 0.022em; }
          html body .course section .course_description p {
            margin-top: 25px;
            max-width: 540px;
            text-align: center;
            font-size: 18px;
            line-height: 2rem;
            font-weight: 300; }
        html body .course section .course_register {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          width: 610px;
          padding-top: 43px;
          padding-left: 20px; }
          html body .course section .course_register legend {
            align-self: flex-start;
            margin: 0 0 12px -2px;
            font-size: 23px;
            font-weight: 500;
            color: #333333; }
          html body .course section .course_register label {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            font-weight: 300;
            color: #555555; }
            html body .course section .course_register label span {
              line-height: 18px;
              letter-spacing: 0; }
            html body .course section .course_register label span + img {
              display: flex;
              align-self: center;
              margin-left: 4px;
              width: 7px;
              height: 7px; }
          html body .course section .course_register input {
            padding: 0 15px;
            max-width: 100%;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #bababa;
            font-family: 'Open Sans';
            font-size: 0.875em;
            font-weight: 500;
            color: #666666; }
          html body .course section .course_register input:focus {
            outline: none;
            border: 1px solid #3498db;
            box-shadow: 0 0 8px 0 rgba(52, 152, 219, 0.4); }
          html body .course section .course_register label + input {
            margin-top: 6px; }
          html body .course section .course_register input + label {
            margin-top: 10px; }
          html body .course section .course_register .block_agree {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px; }
            html body .course section .course_register .block_agree #agree {
              box-sizing: border-box;
              margin: 0;
              width: 13px;
              height: 13px;
              border: 1px solid; }
            html body .course section .course_register .block_agree label {
              margin: 0 0 0 7px;
              font-size: 14px; }
              html body .course section .course_register .block_agree label span a {
                font-size: 14px;
                letter-spacing: 0;
                color: #337ab7; }
              html body .course section .course_register .block_agree label img {
                margin-left: 6px; }
          html body .course section .course_register button {
            margin-top: 36px;
            margin-bottom: 28px;
            align-self: center;
            width: 370px;
            height: 50px;
            border-radius: 25px;
            border: 0;
            background-color: #337ab7;
            font-family: 'Open Sans';
            font-size: 14px;
            text-transform: uppercase;
            color: white; }
          html body .course section .course_register button:hover {
            background-color: #3498db;
            cursor: pointer; }
          html body .course section .course_register button:active {
            background: radial-gradient(ellipse, #3498db, #337ab7); }
          html body .course section .course_register button:focus {
            outline: none; }
    html body .dev {
      width: 100%; }
      html body .dev section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        min-height: 565px; }
        html body .dev section h2 {
          margin: 67px 0 30px; }
        html body .dev section .dev_items {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;
          width: 100%; }
          html body .dev section .dev_items .dev_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 350px; }
            html body .dev section .dev_items .dev_item h3 {
              margin: 15px 0;
              padding: 0 0 17px;
              text-align: center;
              font-size: 24px;
              font-weight: 300;
              letter-spacing: 0.019em;
              border-bottom: 1px solid #3498db; }
            html body .dev section .dev_items .dev_item p {
              text-align: center;
              font-size: 16px;
              font-weight: 300;
              letter-spacing: 0.001em;
              line-height: 25px; }
    html body .stat {
      width: 100%;
      background-color: #3498db; }
      html body .stat section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        min-height: 310px; }
        html body .stat section .stat_item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 305px; }
          html body .stat section .stat_item img {
            width: 85px;
            height: 60px; }
          html body .stat section .stat_item .stat_hours {
            margin: 20px 0 10px;
            font-size: 27px;
            font-weight: 300;
            color: #ffffdb; }
          html body .stat section .stat_item .stat_desc {
            font-weight: 300;
            letter-spacing: 0;
            color: #ffffdb; }
    html body .cite {
      width: 100%; }
      html body .cite section {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        padding: 65px 15px;
        min-height: 398px;
        min-width: 0;
        overflow: hidden; }
        html body .cite section h2 {
          margin: 0;
          text-align: center; }
        html body .cite section .cites .slick-dots li {
          margin: 0 3px; }
          html body .cite section .cites .slick-dots li button:before {
            font-size: 14px; }
        html body .cite section blockquote {
          margin: 0 auto 109px;
          width: 900px;
          text-align: center;
          color: #666666; }
          html body .cite section blockquote > p {
            position: relative;
            font-size: 22px;
            line-height: 1.7em;
            font-weight: 300; }
          html body .cite section blockquote figcaption {
            margin-top: 30px; }
            html body .cite section blockquote figcaption > p {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center; }
              html body .cite section blockquote figcaption > p span:first-child {
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.001em; }
              html body .cite section blockquote figcaption > p span:last-child {
                margin-top: 3px;
                font-family: sans-serif;
                font-style: italic;
                font-weight: 300;
                letter-spacing: 0.01em; }
    html body .video {
      width: 100%;
      background-color: #f7f7f7; }
      html body .video section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        padding: 65px 0;
        min-width: 870px; }
        html body .video section h2 {
          margin: 0; }
        html body .video section p {
          margin: 18px 0 32px;
          text-align: center;
          font-size: 18px;
          line-height: 24px;
          font-weight: 300;
          letter-spacing: 0; }
    html body .mentors {
      width: 100%; }
      html body .mentors section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        padding: 65px 15px 84px; }
        html body .mentors section h2 {
          margin: 0;
          text-align: center; }
        html body .mentors section .mentors_item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%; }
          html body .mentors section .mentors_item img {
            margin-left: 75px;
            width: 337px;
            height: 356px; }
          html body .mentors section .mentors_item .mentors_desc {
            margin-top: 32px;
            margin-right: 22px;
            padding-left: 50px;
            width: 680px; }
            html body .mentors section .mentors_item .mentors_desc h3 {
              margin: 0 0 30px;
              padding: 0 0 15px;
              color: #3498db;
              border-bottom: 1px solid #f7f7f7;
              letter-spacing: 0.05em; }
            html body .mentors section .mentors_item .mentors_desc p {
              margin: 13px 0;
              font-size: 16px;
              line-height: 24px;
              font-weight: 300;
              letter-spacing: 0; }
    html body .map {
      width: 100%; }
      html body .map section {
        height: 400px; }
    html body .contact {
      width: 100%;
      height: 196px;
      background-color: #3498db; }
      html body .contact section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        height: 192px; }
        html body .contact section .contact_item {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 305px;
          height: 192px;
          color: white; }
          html body .contact section .contact_item img {
            margin-top: 40px;
            margin-bottom: 20px;
            width: 50px;
            height: 50px; }
          html body .contact section .contact_item span {
            font-weight: 600; }
          html body .contact section .contact_item span:last-child {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0; }
    html body .footer {
      width: 100%;
      background-color: #f7f7f7; }
      html body .footer footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1220px;
        height: 154px;
        font-size: 14px;
        letter-spacing: 0; }
        html body .footer footer span:first-child {
          font-weight: 300;
          color: #3498db;
          line-height: 36px; }
        html body .footer footer span:last-child a {
          font-size: 14px;
          line-height: 36px;
          font-weight: 300; }
        html body .footer footer span:last-child a:hover {
          text-decoration: underline; }

@media (max-width: 825px) {
  html body .wrap_header header nav ul li {
    padding: 10px 10px; } }
@media (max-width: 725px) {
  html body .wrap_header header nav ul li {
    padding: 10px 5px; } }
@media (max-width: 685px) {
  html body .wrap_header {
    height: 70px; }
    html body .wrap_header header {
      height: 70px; }
      html body .wrap_header header .logo img {
        margin: 5px auto;
        width: 60px;
        height: 60px; }
      html body .wrap_header header nav {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 2;
        width: 100%; }
        html body .wrap_header header nav ul {
          flex-direction: column; }
          html body .wrap_header header nav ul li {
            padding: 10px 20px; }
          html body .wrap_header header nav ul li:last-child {
            padding: 2px 0 16px 0; }
      html body .wrap_header header .open_menu {
        display: block; }
      html body .wrap_header header #menu_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0 auto auto;
        padding: 0;
        min-width: 42px;
        height: 32px;
        background-color: #337ab7;
        border: none;
        border-radius: 3px; }
        html body .wrap_header header #menu_button div {
          margin: 2px auto;
          width: 22px;
          height: 2px;
          background-color: white; }
      html body .wrap_header header #menu_button:hover {
        background-color: #3498db; }
      html body .wrap_header header #menu_button:active {
        background: radial-gradient(ellipse, #3498db, #337ab7); }
  html body .wrap_course {
    padding-top: 78px; } }